<template>
    <div class="main">
            <div class="main_header">
                <div class="main_header_search">
                    <img class="fa fa-search" src="../assets/search.png" alt="">
                    <input type="text" placeholder="Search" class="main_header_input">
                    <i class="far fa-bell"></i>
                </div>
                <div class="courses">
                    <div class="all_courses">
                        <h2>All Courses</h2>
                    </div>
                    <div class="name_courses">
                        <p class="active">Ongoing</p>
                        <p>Favourite</p>
                        <p>Complete</p>
                    </div>
                </div>
            </div>

            <div class="main_block">
                <div class="main_block_video">
                    <div class="main_block_video_center">
                        <div class="main_block_video_text">
                            <div class="main_block_video_text_left">
                                <h2>UI/UX Design</h2>
                                <p>20 lessons</p>
                            </div>
                            <div class="main_block_video_text_right">
                                <p>20h 20min</p>
                            </div>
                        </div>
                        <div class="main_block_video_photo">
                            <div class="main_block_video_photo_left">
                                <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <rect width="46" height="46" rx="6" fill="white" fill-opacity="0.3"/>
                                    <path d="M32 23L18.5 30.7942L18.5 15.2058L32 23Z" fill="white"/>
                                </svg>
                            </div>
                            <div class="main_block_video_photo_right">
                                <img src="../assets/men.png" alt="">
                            </div>
                        </div>
                    </div>  
                </div>
                <div class="main_block_videos">
                    <div class="main_block_videos_playlist" id="background1">
                        <div class="main_block_video_center">
                            <div class="main_block_video_text">
                                <div class="main_block_video_text_left">
                                    <h2>Photography</h2>
                                    <p>12 lessons</p>
                                </div>
                                <div class="main_block_video_text_right">
                                    <p>1h 30min</p>
                                </div>
                            </div>
                            <div class="main_block_video_photo">
                                <div class="main_block_video_photo_left">
                                    <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="46" height="46" rx="6" fill="white" fill-opacity="0.3"/>
                                        <path d="M32 23L18.5 30.7942L18.5 15.2058L32 23Z" fill="white"/>
                                    </svg>
                                </div>
                                <div class="main_block_video_photo_right">
                                    <img src="../assets/women1.png" alt="">
                                </div>
                            </div>
                        </div> 
                    </div>
                    <div class="main_block_videos_playlist">
                        <div class="main_block_video_center" id="background2">
                            <div class="main_block_video_text">
                                <div class="main_block_video_text_left">
                                    <h2>Animation</h2>
                                    <p>12 lessons</p>
                                </div>
                                <div class="main_block_video_text_right">
                                    <p>2h 30min</p>
                                </div>
                            </div>
                            <div class="main_block_video_photo">
                                <div class="main_block_video_photo_left">
                                    <svg width="46" height="46" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect width="46" height="46" rx="6" fill="white" fill-opacity="0.3"/>
                                        <path d="M32 23L18.5 30.7942L18.5 15.2058L32 23Z" fill="white"/>
                                    </svg>
                                </div>
                                <div class="main_block_video_photo_right">
                                    <img src="../assets/women2.png" alt="">
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
</template>
<script>
export default {
    
}
</script>
<style  scoped>
h2,p,i{
    cursor: pointer;
}
.main{
    height: 1000px;
    width: 60%;
    background: #edeeee;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.main_header{
    margin-top: 30px;
    width: 90%;
    
}
.main_header_search{
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
}
.main_header_search input{
    text-indent: 30px;
    width: 45%;
    height: 43px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
    
}
::placeholder{
    color:#CCD6E8;
}
.main_header_search .fa-search { 
  position: absolute;
  top: 10px;
  left: 16px;
  font-size: 8px;
}
.main_header i{
    color: #768492;
    font-size: 20px;
}
.courses{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.all_courses{
    width: 30%;
    /* border: 1px solid; */
}
.name_courses{
    width: 50%;
    display: flex;
    justify-content: space-around;
    float: inline-end;
    /* border: 1px solid; */
}
.name_courses p{
    margin-left: 5%;
    color: rgba(118, 132, 146, 0.8);
}
.active{
    width: 20px;
    text-indent: -20px;
    border-radius:2px ;
    color: #5E81F4 !important;
    border-bottom: 3px solid #5E81F4;
}
.fa-bell:hover{
    color: #5E81F4 !important;
}
.main_block{
    margin-top: 20px;
    width: 100%;
    display: flex;
   align-items: center;
    flex-direction: column;
    
}
.main_block_video{
    width: 90%;
    height: 280px;
    background-image: url('../assets/video1.png');
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 10px;
    border: none;
}
.main_block_video_center{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-radius: 10px;
}
.main_block_video_text{
    margin-top: 30px;
    display: flex;
    width:90%;
    justify-content:space-between;
}
.main_block_video_text p , .main_block_video_text h2{
    color: white;
}
.main_block_video_photo{
    margin-top: 130px;
    display: flex;
    width:90%;
    justify-content:space-between;
    align-items: center;
}
.main_block_video_photo i{
    font-size: 35px;
    color: rgba(255, 255, 255, 0.3);
}
.main_block_video_photo_right img{
    border-radius:50% ;
}
.main_block_videos{
    display: flex;
    width: 90%;
    /* border:1px solid black; */
    justify-content: space-between;
}
.main_block_videos_playlist{
    margin-top: 30px;
    width: 47%;
    height: 260px;
    border-radius:10px;
}
#background1{
    background-image: url('../assets/back1.png');
    background-size: 100%;
}
#background2{
    background-image: url('../assets/back2.png');
    background-size: 100%;
    height: 100%;
}
</style>
