<template>
    <div class="sidebar_right">
            <div class="sidebar_right_header">
                    <img src="../assets/Rectangle100.png" alt="">
                    <p>Alexa Rogue</p>
                    <img src="../assets/metka.svg" alt="">                
            </div>
            <div class="progress">
                <h4>Progress</h4>
                <div class="progress_list" v-for="item in list" :key="item">
                    <div class="flex" :style="{background: item.bg}">
                        <img :src="item.src" alt="">
                    </div>
                    
                    <div class="progress_list_name">
                        <h5>{{item.title}}</h5>
                        <p>{{item.subtitle}}</p>
                       
                    </div>
                    <div class="progress_bar" :style="{background: item.bg1}" >
                        <div class="percentage" :style="{background: item.bg2, width:item.w}">

                        </div>
                    </div>
                </div>
            </div>

            <div class="upcoming_task">
                <h4>Upcoming task</h4>
                <div class="upcoming_task_list" v-for="item in task" :key="item">
                    <div class="flex" :style="{background: item.bg}">
                        <img :src="item.src" alt="">
                    </div>
                    <div class="upcoming_task_list_name">
                        <h5>{{item.title}}</h5>
                        <p>{{item.subtitle}}</p>
                    </div>                 
                </div>
            </div>

            <div class="application">
                <div class="application_types">
                    <div class="play">
                        <img src="../assets/apple.png" alt="">
                    </div>
                    <div class="play">
                        <img src="../assets/playmarket.png" alt="">
                    </div>
                    
                    
                </div>
            </div>
        </div>
</template>
<script>
export default {
     data:()=>{
        return{
            list:
                [
                    {
                    src:require('@/assets/penn.png'),
                    title:"UX/UI Design",
                    subtitle:"Advanced",
                    bg:'#EEF2FD',
                    bg1:'rgba(94, 129, 244, 0.2)',
                    bg2:'#5E81F4',
                    w:'80%'
                    },
                    {
                    src:require('@/assets/cheese.png'),
                    title:"Photography",
                    subtitle:"Intermediate",
                    bg: '#D5F5FB',
                    bg1:'rgba(12, 195, 231, 0.18)' ,
                    bg2:'#0CC3E7',
                    w:'40%'
                    },
                    {
                    src:require('@/assets/Vector.png'),
                    title:"Animation",
                    subtitle:"Advance",
                    bg:'#FFEFD6',
                    bg1:'rgba(255, 128, 139, 0.2)',
                    bg2:'#FFAE33',
                    w:'65%'
                    }
                ],
            task:
            [
                {
                    src:require('@/assets/msg.png'),
                    title:"UX/UI Discussion",
                    subtitle:"27 Oct 2020, Tuesday",
                    bg:'#EEF2FD'
                    },
                    {
                    src:require('@/assets/cube.png'),
                    title:"Animation-3D animation",
                    subtitle:"27 Oct 2020, Tuesday",
                    bg:'#FFEFD6'
                    },
            ]
                
        }
    }
}
</script>
<style>
h4,h5,p{
    cursor: pointer;
}
.flex{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}
.sidebar_right{
    height: 1000px;
    width: 20%;
    /* border: 1px solid black; */
}
.sidebar_right_header{
    margin-top: 25px;
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-around;

}
.progress , .upcoming_task{
    width: 100%;
    margin-top: 55px;

}
.progress h4, .upcoming_task h4{
    margin-left: 8%;
}
.progress_list{
    width: 95%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.progress_bar{
    width: 94px;
    height: 7px;
    border-radius: 21px;
    background: rgba(94, 129, 244, 0.2);

}

.percentage{
    width: 0%;
    height: 88%;
    border-radius: 21px;
    animation: percentage 2s;
}
@keyframes percentage {
   0%{
       width: 0%;
   }
}
.progress_list_name{
    display: flex;
    flex-direction: column;
    float: left;
    width: 80px;
}
.progress_list_name p, .upcoming_task_list_name p{
    color: #83919E;
    font-size: 14px;
}
.upcoming_task_list{
    width: 73%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
}
.upcoming_task_list_name{
    width: 150px;
    
}
.application{
    margin-top: 40px;
    background-image: url('../assets/Group 113.png');
    background-size: 100%;
    margin-left: 10px;
    width: 250px;
    height: 150px;
 
}
.application_types{
    display: flex;
    margin-top: 60px;
   
}
.play{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: white;
    margin-top: 70px;
    /* padding-left: ; */
     margin-left: 15px;
}
.play img{
    width: 16px;
    height: 16px;
   
}
</style>