<template>
    <div class="blocks">
      <SidebarLeft></SidebarLeft>
      <router-view/>
      <SidebarRight></SidebarRight>
    </div>
</template>

<script>
import SidebarLeft from '@/components/SidebarLeft'
import SidebarRight from '@/components/SidebarRight'
export default {
  components:{
    SidebarLeft,
    SidebarRight

  }
}
</script>

<style>
*{
  margin: 0;
  padding: 0;
}
.blocks{
    width: 100%;
    height: 100%;
    display: flex;
    
}
</style>
